<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      
    </startup>
  <appSettings>
    <add key="Channel" value="" />
    <add key="AppAccessToken" value="" />
    <add key="UserAccessToken" value="" />
    <add key="UserAccessRefreshToken" value="" />
    <add key="ClientSecret" value="d5leek0b1c1d3zstwt8ci9lk6xgqzg" />
    <add key="ClientID" value="y9jyydc1qf59phi3qkg78nqw627ywo" />
  </appSettings>
</configuration>